.footer {
    margin-top: auto; /* Empujar el footer al final de la página */
    background-color: #f8f9fa; /* Color de fondo del footer */
    padding: 20px; /* Ajusta el espacio interior del footer según necesites */
  }